@import 'modern-normalize/modern-normalize.css';

:root {
  --color-primary: #0284c7;
  --color-second: #c2e7ff;
  --color-bg: #f8fafd;
  --color-text: #222;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  overflow-y: auto;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.h-screen {
  height: 100vh;
}

.select-none {
  user-select: none;
}
